<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>web-study</display-name>

  <!-- 上下文参数(开始) -->
  <context-param>
    <param-name>contextFirstParameter</param-name>
    <param-value>contextFirstParameterValue</param-value>
    <description>this is the first parameter.</description>
  </context-param>
  <!-- 上下文参数(结束) -->

  <!-- servlet(开始) -->
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>com.study.servlet.HelloServlet</servlet-class>
    <init-param>
      <param-name>servletFirstParameter</param-name>
      <param-value>servletFirstParameterValue</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>goodByeServlet</servlet-name>
    <servlet-class>com.study.servlet.GoodByeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodByeServlet</servlet-name>
    <url-pattern>/goodbye</url-pattern>
  </servlet-mapping>

  <!--<servlet>
    <servlet-name>wordChangeHtml</servlet-name>
    <servlet-class>com.study.servlet.WordChangeToServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wordChangeHtml</servlet-name>
    <url-pattern>/wordToHtml</url-pattern>
  </servlet-mapping>-->
  <!-- servlet(结束) -->

  <!--&lt;!&ndash; 过滤器:Filter &ndash;&gt;-->
  <!--<filter>-->
    <!--<filter-name>FirstFilter</filter-name>-->
    <!--<filter-class>com.study.</filter-class>-->
  <!--</filter>-->

</web-app>
