<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!-- 1.应用配置(ApplicationConfig对象) -->
    <dubbo:application name="simple-client-app"/>

    <!-- 2.配置注册中心 -->
    <!--<dubbo:registry address="multicast://224.1.2.3:1234"></dubbo:registry>-->
    <!-- redis作为注册中心 -->
    <!--<dubbo:registry protocol="redis" address="127.0.0.1:6379"></dubbo:registry>-->
    <!-- zookeeper作为注册中心 -->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"/>

    <!-- 3.配置服务引用对象(ReferenceConfig对象) -->
    <!-- id属性是必须项,否则会报找不到对应的bean对象 -->
    <dubbo:reference id="userService" timeout="2000" retries="2" interface="com.study.dubbo.server.UserService">
        <!-- method中 async 是否进行异步调用属性设置,默认是false -->
        <dubbo:method name="getUser" timeout="2000" async="true"></dubbo:method>
    </dubbo:reference>

    <!-- 使用 consumer 将公共的属性全部配置好 -->
    <!--<dubbo:consumer group="groupName" timeout="2000" retries="2"></dubbo:consumer>-->
</beans>