<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!-- 1.配置应用对象(ApplicationConfig都西昂)：提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="simple-server-app"/>

    <!-- 2.配置注册中心 使用multicast广播注册中心暴露服务地址 -->
    <!--<dubbo:registry address="multicast://224.1.2.3:1234"></dubbo:registry>-->
    <!-- register：是否将此服务注册到注册中心,默认是true; check: 默认是true，启动时是否检测注册中心 -->
    <!--<dubbo:registry protocol="redis" address="224.1.2.3:1234,224.1.2.3:1234" register="false" check="true"/>-->
    <!--<dubbo:registry protocol="redis" address="127.0.0.1:6379" check="true"></dubbo:registry>-->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"/>

    <!-- 3.配置协议(ProtocolConfig对象)：用dubbo协议在20880端口暴露服务,多个服务时，端口号依次从20880开始加 -->
    <dubbo:protocol name="dubbo" port="-1"/>

    <!-- 4.配置service(ServiceConfig对象)：声明需要暴露的服务接口 -->
    <!-- ApplicationConfig和ProtocolConfig对象会默认的被注入到ServiceConfig对象中 -->
    <dubbo:service interface="com.study.dubbo.server.UserService" ref="userService"/>
    <!-- loadbalance: 负载均衡策略; group: 分组; timeout: 连接时间; retries: 尝试次数; -->
    <!--<dubbo:service interface="com.study.dubbo.server.UserService" loadbalance="roundrobin" group="customizedGroup" timeout="2000" retries="2" ref="userService"/>-->
    <!-- 和本地bean一样实现服务 -->
    <bean id="userService" class="com.study.dubbo.server.impl.UserServiceImpl"/>

    <!-- 使用 provider 将公共的属性全部配置好 -->
    <!--<dubbo:provider group="" timeout="2000" port=""></dubbo:provider>-->

    <!-- 添加自定义的过滤器，如果其实现没有被dubbo发现会报错的 -->
    <dubbo:provider  filter="customizedFilterName" timeout="2000" retries="2" id="abc"></dubbo:provider>
</beans>