<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.lec.interfaces.LenovoSkujcsjSpkcBackupMapper">
  <resultMap id="BaseResultMap" type="com.study.mapper.lec.entity.LenovoSkujcsjSpkcBackup">
    <result column="商品编码" jdbcType="VARCHAR" property="商品编码" />
    <result column="商品名称" jdbcType="VARCHAR" property="商品名称" />
    <result column="商品属性" jdbcType="VARCHAR" property="商品属性" />
    <result column="计量单位" jdbcType="VARCHAR" property="计量单位" />
    <result column="保管数" jdbcType="DOUBLE" property="保管数" />
    <result column="可卖数" jdbcType="DOUBLE" property="可卖数" />
    <result column="三级账" jdbcType="DOUBLE" property="三级账" />
    <result column="预售数" jdbcType="DOUBLE" property="预售数" />
    <result column="延付数" jdbcType="DOUBLE" property="延付数" />
    <result column="暂存数" jdbcType="DOUBLE" property="暂存数" />
    <result column="结算价" jdbcType="DOUBLE" property="结算价" />
    <result column="订单在途" jdbcType="DOUBLE" property="订单在途" />
    <result column="订单金额" jdbcType="BIGINT" property="订单金额" />
    <result column="转仓在途" jdbcType="DOUBLE" property="转仓在途" />
    <result column="转仓在途金额" jdbcType="BIGINT" property="转仓在途金额" />
    <result column="借出在途" jdbcType="BIGINT" property="借出在途" />
    <result column="借出在途金额" jdbcType="BIGINT" property="借出在途金额" />
    <result column="集团在途" jdbcType="DOUBLE" property="集团在途" />
    <result column="集团在途金额" jdbcType="BIGINT" property="集团在途金额" />
    <result column="供应商编码" jdbcType="VARCHAR" property="供应商编码" />
    <result column="供应商" jdbcType="VARCHAR" property="供应商" />
    <result column="部门编码" jdbcType="VARCHAR" property="部门编码" />
    <result column="采购部门" jdbcType="VARCHAR" property="采购部门" />
    <result column="品牌" jdbcType="VARCHAR" property="品牌" />
    <result column="商品分类" jdbcType="VARCHAR" property="商品分类" />
    <result column="一级分类名称" jdbcType="VARCHAR" property="一级分类名称" />
    <result column="二级分类名称" jdbcType="VARCHAR" property="二级分类名称" />
    <result column="三级分类名称" jdbcType="VARCHAR" property="三级分类名称" />
    <result column="四级分类名称" jdbcType="VARCHAR" property="四级分类名称" />
    <result column="平均单价" jdbcType="DOUBLE" property="平均单价" />
    <result column="平均库存金额" jdbcType="DOUBLE" property="平均库存金额" />
    <result column="三级账库存金额" jdbcType="DOUBLE" property="三级账库存金额" />
    <result column="可卖数库存金额" jdbcType="DOUBLE" property="可卖数库存金额" />
    <result column="安全库存" jdbcType="BIGINT" property="安全库存" />
    <result column="上限库存" jdbcType="BIGINT" property="上限库存" />
    <result column="仓库编码" jdbcType="VARCHAR" property="仓库编码" />
    <result column="仓库名称" jdbcType="VARCHAR" property="仓库名称" />
    <result column="最早入库日期" jdbcType="VARCHAR" property="最早入库日期" />
    <result column="门店库龄" jdbcType="BIGINT" property="门店库龄" />
    <result column="最后入库日期" jdbcType="VARCHAR" property="最后入库日期" />
    <result column="商品库龄" jdbcType="BIGINT" property="商品库龄" />
    <result column="库存预警" jdbcType="VARCHAR" property="库存预警" />
    <result column="零售单价" jdbcType="BIGINT" property="零售单价" />
    <result column="会员单价" jdbcType="DOUBLE" property="会员单价" />
    <result column="最新进价" jdbcType="DOUBLE" property="最新进价" />
    <result column="销售控制" jdbcType="VARCHAR" property="销售控制" />
    <result column="仓库类型" jdbcType="VARCHAR" property="仓库类型" />
    <result column="保管结算金额" jdbcType="DOUBLE" property="保管结算金额" />
    <result column="近1月销量" jdbcType="BIGINT" property="近1月销量" />
    <result column="近3月销量" jdbcType="BIGINT" property="近3月销量" />
    <result column="CPU型号" jdbcType="VARCHAR" property="cpu型号" />
    <result column="CPU品牌" jdbcType="VARCHAR" property="cpu品牌" />
    <result column="机械硬盘" jdbcType="VARCHAR" property="机械硬盘" />
    <result column="固态硬盘" jdbcType="VARCHAR" property="固态硬盘" />
    <result column="显卡型号" jdbcType="VARCHAR" property="显卡型号" />
    <result column="AT" jdbcType="VARCHAR" property="at" />
    <result column="机械厚度" jdbcType="VARCHAR" property="机械厚度" />
    <result column="屏幕尺寸" jdbcType="VARCHAR" property="屏幕尺寸" />
    <result column="运行内存" jdbcType="VARCHAR" property="运行内存" />
    <result column="date" jdbcType="VARCHAR" property="date" />
  </resultMap>
  <insert id="insert" parameterType="com.study.mapper.lec.entity.LenovoSkujcsjSpkcBackup">
    insert into LENOVO_SKUJCSJ_SPKC_BACKUP (商品编码, 商品名称, 商品属性, 
      计量单位, 保管数, 可卖数, 三级账, 
      预售数, 延付数, 暂存数, 结算价, 
      订单在途, 订单金额, 转仓在途, 转仓在途金额, 
      借出在途, 借出在途金额, 集团在途, 集团在途金额, 
      供应商编码, 供应商, 部门编码, 采购部门, 
      品牌, 商品分类, 一级分类名称, 二级分类名称, 
      三级分类名称, 四级分类名称, 平均单价, 
      平均库存金额, 三级账库存金额, 可卖数库存金额, 
      安全库存, 上限库存, 仓库编码, 仓库名称, 
      最早入库日期, 门店库龄, 最后入库日期, 
      商品库龄, 库存预警, 零售单价, 会员单价, 
      最新进价, 销售控制, 仓库类型, 保管结算金额, 
      近1月销量, 近3月销量, CPU型号, 
      CPU品牌, 机械硬盘, 固态硬盘, 
      显卡型号, AT, 机械厚度, 屏幕尺寸, 
      运行内存, date)
    values (#{商品编码,jdbcType=VARCHAR}, #{商品名称,jdbcType=VARCHAR}, #{商品属性,jdbcType=VARCHAR}, 
      #{计量单位,jdbcType=VARCHAR}, #{保管数,jdbcType=DOUBLE}, #{可卖数,jdbcType=DOUBLE}, #{三级账,jdbcType=DOUBLE}, 
      #{预售数,jdbcType=DOUBLE}, #{延付数,jdbcType=DOUBLE}, #{暂存数,jdbcType=DOUBLE}, #{结算价,jdbcType=DOUBLE}, 
      #{订单在途,jdbcType=DOUBLE}, #{订单金额,jdbcType=BIGINT}, #{转仓在途,jdbcType=DOUBLE}, #{转仓在途金额,jdbcType=BIGINT}, 
      #{借出在途,jdbcType=BIGINT}, #{借出在途金额,jdbcType=BIGINT}, #{集团在途,jdbcType=DOUBLE}, #{集团在途金额,jdbcType=BIGINT}, 
      #{供应商编码,jdbcType=VARCHAR}, #{供应商,jdbcType=VARCHAR}, #{部门编码,jdbcType=VARCHAR}, #{采购部门,jdbcType=VARCHAR}, 
      #{品牌,jdbcType=VARCHAR}, #{商品分类,jdbcType=VARCHAR}, #{一级分类名称,jdbcType=VARCHAR}, #{二级分类名称,jdbcType=VARCHAR}, 
      #{三级分类名称,jdbcType=VARCHAR}, #{四级分类名称,jdbcType=VARCHAR}, #{平均单价,jdbcType=DOUBLE}, 
      #{平均库存金额,jdbcType=DOUBLE}, #{三级账库存金额,jdbcType=DOUBLE}, #{可卖数库存金额,jdbcType=DOUBLE}, 
      #{安全库存,jdbcType=BIGINT}, #{上限库存,jdbcType=BIGINT}, #{仓库编码,jdbcType=VARCHAR}, #{仓库名称,jdbcType=VARCHAR}, 
      #{最早入库日期,jdbcType=VARCHAR}, #{门店库龄,jdbcType=BIGINT}, #{最后入库日期,jdbcType=VARCHAR}, 
      #{商品库龄,jdbcType=BIGINT}, #{库存预警,jdbcType=VARCHAR}, #{零售单价,jdbcType=BIGINT}, #{会员单价,jdbcType=DOUBLE}, 
      #{最新进价,jdbcType=DOUBLE}, #{销售控制,jdbcType=VARCHAR}, #{仓库类型,jdbcType=VARCHAR}, #{保管结算金额,jdbcType=DOUBLE}, 
      #{近1月销量,jdbcType=BIGINT}, #{近3月销量,jdbcType=BIGINT}, #{cpu型号,jdbcType=VARCHAR}, 
      #{cpu品牌,jdbcType=VARCHAR}, #{机械硬盘,jdbcType=VARCHAR}, #{固态硬盘,jdbcType=VARCHAR}, 
      #{显卡型号,jdbcType=VARCHAR}, #{at,jdbcType=VARCHAR}, #{机械厚度,jdbcType=VARCHAR}, #{屏幕尺寸,jdbcType=VARCHAR}, 
      #{运行内存,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.study.mapper.lec.entity.LenovoSkujcsjSpkcBackup">
    insert into LENOVO_SKUJCSJ_SPKC_BACKUP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="商品编码 != null">
        商品编码,
      </if>
      <if test="商品名称 != null">
        商品名称,
      </if>
      <if test="商品属性 != null">
        商品属性,
      </if>
      <if test="计量单位 != null">
        计量单位,
      </if>
      <if test="保管数 != null">
        保管数,
      </if>
      <if test="可卖数 != null">
        可卖数,
      </if>
      <if test="三级账 != null">
        三级账,
      </if>
      <if test="预售数 != null">
        预售数,
      </if>
      <if test="延付数 != null">
        延付数,
      </if>
      <if test="暂存数 != null">
        暂存数,
      </if>
      <if test="结算价 != null">
        结算价,
      </if>
      <if test="订单在途 != null">
        订单在途,
      </if>
      <if test="订单金额 != null">
        订单金额,
      </if>
      <if test="转仓在途 != null">
        转仓在途,
      </if>
      <if test="转仓在途金额 != null">
        转仓在途金额,
      </if>
      <if test="借出在途 != null">
        借出在途,
      </if>
      <if test="借出在途金额 != null">
        借出在途金额,
      </if>
      <if test="集团在途 != null">
        集团在途,
      </if>
      <if test="集团在途金额 != null">
        集团在途金额,
      </if>
      <if test="供应商编码 != null">
        供应商编码,
      </if>
      <if test="供应商 != null">
        供应商,
      </if>
      <if test="部门编码 != null">
        部门编码,
      </if>
      <if test="采购部门 != null">
        采购部门,
      </if>
      <if test="品牌 != null">
        品牌,
      </if>
      <if test="商品分类 != null">
        商品分类,
      </if>
      <if test="一级分类名称 != null">
        一级分类名称,
      </if>
      <if test="二级分类名称 != null">
        二级分类名称,
      </if>
      <if test="三级分类名称 != null">
        三级分类名称,
      </if>
      <if test="四级分类名称 != null">
        四级分类名称,
      </if>
      <if test="平均单价 != null">
        平均单价,
      </if>
      <if test="平均库存金额 != null">
        平均库存金额,
      </if>
      <if test="三级账库存金额 != null">
        三级账库存金额,
      </if>
      <if test="可卖数库存金额 != null">
        可卖数库存金额,
      </if>
      <if test="安全库存 != null">
        安全库存,
      </if>
      <if test="上限库存 != null">
        上限库存,
      </if>
      <if test="仓库编码 != null">
        仓库编码,
      </if>
      <if test="仓库名称 != null">
        仓库名称,
      </if>
      <if test="最早入库日期 != null">
        最早入库日期,
      </if>
      <if test="门店库龄 != null">
        门店库龄,
      </if>
      <if test="最后入库日期 != null">
        最后入库日期,
      </if>
      <if test="商品库龄 != null">
        商品库龄,
      </if>
      <if test="库存预警 != null">
        库存预警,
      </if>
      <if test="零售单价 != null">
        零售单价,
      </if>
      <if test="会员单价 != null">
        会员单价,
      </if>
      <if test="最新进价 != null">
        最新进价,
      </if>
      <if test="销售控制 != null">
        销售控制,
      </if>
      <if test="仓库类型 != null">
        仓库类型,
      </if>
      <if test="保管结算金额 != null">
        保管结算金额,
      </if>
      <if test="近1月销量 != null">
        近1月销量,
      </if>
      <if test="近3月销量 != null">
        近3月销量,
      </if>
      <if test="cpu型号 != null">
        CPU型号,
      </if>
      <if test="cpu品牌 != null">
        CPU品牌,
      </if>
      <if test="机械硬盘 != null">
        机械硬盘,
      </if>
      <if test="固态硬盘 != null">
        固态硬盘,
      </if>
      <if test="显卡型号 != null">
        显卡型号,
      </if>
      <if test="at != null">
        AT,
      </if>
      <if test="机械厚度 != null">
        机械厚度,
      </if>
      <if test="屏幕尺寸 != null">
        屏幕尺寸,
      </if>
      <if test="运行内存 != null">
        运行内存,
      </if>
      <if test="date != null">
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="商品编码 != null">
        #{商品编码,jdbcType=VARCHAR},
      </if>
      <if test="商品名称 != null">
        #{商品名称,jdbcType=VARCHAR},
      </if>
      <if test="商品属性 != null">
        #{商品属性,jdbcType=VARCHAR},
      </if>
      <if test="计量单位 != null">
        #{计量单位,jdbcType=VARCHAR},
      </if>
      <if test="保管数 != null">
        #{保管数,jdbcType=DOUBLE},
      </if>
      <if test="可卖数 != null">
        #{可卖数,jdbcType=DOUBLE},
      </if>
      <if test="三级账 != null">
        #{三级账,jdbcType=DOUBLE},
      </if>
      <if test="预售数 != null">
        #{预售数,jdbcType=DOUBLE},
      </if>
      <if test="延付数 != null">
        #{延付数,jdbcType=DOUBLE},
      </if>
      <if test="暂存数 != null">
        #{暂存数,jdbcType=DOUBLE},
      </if>
      <if test="结算价 != null">
        #{结算价,jdbcType=DOUBLE},
      </if>
      <if test="订单在途 != null">
        #{订单在途,jdbcType=DOUBLE},
      </if>
      <if test="订单金额 != null">
        #{订单金额,jdbcType=BIGINT},
      </if>
      <if test="转仓在途 != null">
        #{转仓在途,jdbcType=DOUBLE},
      </if>
      <if test="转仓在途金额 != null">
        #{转仓在途金额,jdbcType=BIGINT},
      </if>
      <if test="借出在途 != null">
        #{借出在途,jdbcType=BIGINT},
      </if>
      <if test="借出在途金额 != null">
        #{借出在途金额,jdbcType=BIGINT},
      </if>
      <if test="集团在途 != null">
        #{集团在途,jdbcType=DOUBLE},
      </if>
      <if test="集团在途金额 != null">
        #{集团在途金额,jdbcType=BIGINT},
      </if>
      <if test="供应商编码 != null">
        #{供应商编码,jdbcType=VARCHAR},
      </if>
      <if test="供应商 != null">
        #{供应商,jdbcType=VARCHAR},
      </if>
      <if test="部门编码 != null">
        #{部门编码,jdbcType=VARCHAR},
      </if>
      <if test="采购部门 != null">
        #{采购部门,jdbcType=VARCHAR},
      </if>
      <if test="品牌 != null">
        #{品牌,jdbcType=VARCHAR},
      </if>
      <if test="商品分类 != null">
        #{商品分类,jdbcType=VARCHAR},
      </if>
      <if test="一级分类名称 != null">
        #{一级分类名称,jdbcType=VARCHAR},
      </if>
      <if test="二级分类名称 != null">
        #{二级分类名称,jdbcType=VARCHAR},
      </if>
      <if test="三级分类名称 != null">
        #{三级分类名称,jdbcType=VARCHAR},
      </if>
      <if test="四级分类名称 != null">
        #{四级分类名称,jdbcType=VARCHAR},
      </if>
      <if test="平均单价 != null">
        #{平均单价,jdbcType=DOUBLE},
      </if>
      <if test="平均库存金额 != null">
        #{平均库存金额,jdbcType=DOUBLE},
      </if>
      <if test="三级账库存金额 != null">
        #{三级账库存金额,jdbcType=DOUBLE},
      </if>
      <if test="可卖数库存金额 != null">
        #{可卖数库存金额,jdbcType=DOUBLE},
      </if>
      <if test="安全库存 != null">
        #{安全库存,jdbcType=BIGINT},
      </if>
      <if test="上限库存 != null">
        #{上限库存,jdbcType=BIGINT},
      </if>
      <if test="仓库编码 != null">
        #{仓库编码,jdbcType=VARCHAR},
      </if>
      <if test="仓库名称 != null">
        #{仓库名称,jdbcType=VARCHAR},
      </if>
      <if test="最早入库日期 != null">
        #{最早入库日期,jdbcType=VARCHAR},
      </if>
      <if test="门店库龄 != null">
        #{门店库龄,jdbcType=BIGINT},
      </if>
      <if test="最后入库日期 != null">
        #{最后入库日期,jdbcType=VARCHAR},
      </if>
      <if test="商品库龄 != null">
        #{商品库龄,jdbcType=BIGINT},
      </if>
      <if test="库存预警 != null">
        #{库存预警,jdbcType=VARCHAR},
      </if>
      <if test="零售单价 != null">
        #{零售单价,jdbcType=BIGINT},
      </if>
      <if test="会员单价 != null">
        #{会员单价,jdbcType=DOUBLE},
      </if>
      <if test="最新进价 != null">
        #{最新进价,jdbcType=DOUBLE},
      </if>
      <if test="销售控制 != null">
        #{销售控制,jdbcType=VARCHAR},
      </if>
      <if test="仓库类型 != null">
        #{仓库类型,jdbcType=VARCHAR},
      </if>
      <if test="保管结算金额 != null">
        #{保管结算金额,jdbcType=DOUBLE},
      </if>
      <if test="近1月销量 != null">
        #{近1月销量,jdbcType=BIGINT},
      </if>
      <if test="近3月销量 != null">
        #{近3月销量,jdbcType=BIGINT},
      </if>
      <if test="cpu型号 != null">
        #{cpu型号,jdbcType=VARCHAR},
      </if>
      <if test="cpu品牌 != null">
        #{cpu品牌,jdbcType=VARCHAR},
      </if>
      <if test="机械硬盘 != null">
        #{机械硬盘,jdbcType=VARCHAR},
      </if>
      <if test="固态硬盘 != null">
        #{固态硬盘,jdbcType=VARCHAR},
      </if>
      <if test="显卡型号 != null">
        #{显卡型号,jdbcType=VARCHAR},
      </if>
      <if test="at != null">
        #{at,jdbcType=VARCHAR},
      </if>
      <if test="机械厚度 != null">
        #{机械厚度,jdbcType=VARCHAR},
      </if>
      <if test="屏幕尺寸 != null">
        #{屏幕尺寸,jdbcType=VARCHAR},
      </if>
      <if test="运行内存 != null">
        #{运行内存,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="countAll" resultType="java.lang.Integer">
    select count(*) from LENOVO_SKUJCSJ_SPKC_BACKUP
  </select>

</mapper>