<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.epicc.ms.cpi.mapper.picc_cpi.AlipayPolicyMapper">
  <resultMap id="BaseResultMap" type="cn.com.epicc.ms.cpi.entity.picc_cpi.AlipayPolicy">
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="OUT_ORDER_ID" jdbcType="VARCHAR" property="outOrderId" />
    <result column="SUMMARY_ORDER_ID" jdbcType="VARCHAR" property="summaryOrderId" />
    <result column="PROD_NO" jdbcType="VARCHAR" property="prodNo" />
    <result column="OUT_PROD_NO" jdbcType="VARCHAR" property="outProdNo" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="POLICY_TYPE" jdbcType="DECIMAL" property="policyType" />
    <result column="INSURED_TIME" jdbcType="VARCHAR" property="insuredTime" />
    <result column="ISSUE_TIME" jdbcType="VARCHAR" property="issueTime" />
    <result column="SURRENDER_TIME" jdbcType="VARCHAR" property="surrenderTime" />
    <result column="EFFECT_START_TIME" jdbcType="VARCHAR" property="effectStartTime" />
    <result column="EFFECT_END_TIME" jdbcType="VARCHAR" property="effectEndTime" />
    <result column="SUM_INSURED" jdbcType="DECIMAL" property="sumInsured" />
    <result column="FEE_RATE" jdbcType="DECIMAL" property="feeRate" />
    <result column="PREMIUM" jdbcType="DECIMAL" property="premium" />
    <result column="ACTUAL_PREMIUM" jdbcType="DECIMAL" property="actualPremium" />
    <result column="APPLY_NUM" jdbcType="DECIMAL" property="applyNum" />
    <result column="BIZ_DATA" jdbcType="VARCHAR" property="bizData" />
    <result column="SURRENDER_FEE" jdbcType="DECIMAL" property="surrenderFee" />
    <result column="PROD_TYPE" jdbcType="VARCHAR" property="prodType" />
    <result column="INPUTDATE" jdbcType="DATE" property="inputdate" />
    <result column="PERSON_PHONENUM" jdbcType="DECIMAL" property="personPhonenum" />
    <result column="DISPATCHFLAG" jdbcType="CHAR" property="dispatchflag" />
    <result column="POLICYNO" jdbcType="VARCHAR" property="policyno" />
    <result column="GATHERNO" jdbcType="VARCHAR" property="gatherno" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ORDER_ID, OUT_ORDER_ID, SUMMARY_ORDER_ID, PROD_NO, OUT_PROD_NO, STATUS, POLICY_TYPE, 
    INSURED_TIME, ISSUE_TIME, SURRENDER_TIME, EFFECT_START_TIME, EFFECT_END_TIME, SUM_INSURED, 
    FEE_RATE, PREMIUM, ACTUAL_PREMIUM, APPLY_NUM, BIZ_DATA, SURRENDER_FEE, PROD_TYPE, 
    INPUTDATE, PERSON_PHONENUM, DISPATCHFLAG, POLICYNO, GATHERNO
  </sql>
  <select id="selectByExample" parameterType="cn.com.epicc.ms.cpi.entity.picc_cpi.AlipayPolicyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PICC_CPI.ALIPAY_POLICY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="cn.com.epicc.ms.cpi.entity.picc_cpi.AlipayPolicyExample">
    delete from PICC_CPI.ALIPAY_POLICY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.epicc.ms.cpi.entity.picc_cpi.AlipayPolicy">
    insert into PICC_CPI.ALIPAY_POLICY (ORDER_ID, OUT_ORDER_ID, SUMMARY_ORDER_ID, 
      PROD_NO, OUT_PROD_NO, STATUS, 
      POLICY_TYPE, INSURED_TIME, ISSUE_TIME, 
      SURRENDER_TIME, EFFECT_START_TIME, EFFECT_END_TIME, 
      SUM_INSURED, FEE_RATE, PREMIUM, 
      ACTUAL_PREMIUM, APPLY_NUM, BIZ_DATA, 
      SURRENDER_FEE, PROD_TYPE, INPUTDATE, 
      PERSON_PHONENUM, DISPATCHFLAG, POLICYNO, 
      GATHERNO)
    values (#{orderId,jdbcType=VARCHAR}, #{outOrderId,jdbcType=VARCHAR}, #{summaryOrderId,jdbcType=VARCHAR}, 
      #{prodNo,jdbcType=VARCHAR}, #{outProdNo,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{policyType,jdbcType=DECIMAL}, #{insuredTime,jdbcType=VARCHAR}, #{issueTime,jdbcType=VARCHAR}, 
      #{surrenderTime,jdbcType=VARCHAR}, #{effectStartTime,jdbcType=VARCHAR}, #{effectEndTime,jdbcType=VARCHAR}, 
      #{sumInsured,jdbcType=DECIMAL}, #{feeRate,jdbcType=DECIMAL}, #{premium,jdbcType=DECIMAL}, 
      #{actualPremium,jdbcType=DECIMAL}, #{applyNum,jdbcType=DECIMAL}, #{bizData,jdbcType=VARCHAR}, 
      #{surrenderFee,jdbcType=DECIMAL}, #{prodType,jdbcType=VARCHAR}, #{inputdate,jdbcType=DATE}, 
      #{personPhonenum,jdbcType=DECIMAL}, #{dispatchflag,jdbcType=CHAR}, #{policyno,jdbcType=VARCHAR}, 
      #{gatherno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.epicc.ms.cpi.entity.picc_cpi.AlipayPolicy">
    insert into PICC_CPI.ALIPAY_POLICY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="outOrderId != null">
        OUT_ORDER_ID,
      </if>
      <if test="summaryOrderId != null">
        SUMMARY_ORDER_ID,
      </if>
      <if test="prodNo != null">
        PROD_NO,
      </if>
      <if test="outProdNo != null">
        OUT_PROD_NO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="policyType != null">
        POLICY_TYPE,
      </if>
      <if test="insuredTime != null">
        INSURED_TIME,
      </if>
      <if test="issueTime != null">
        ISSUE_TIME,
      </if>
      <if test="surrenderTime != null">
        SURRENDER_TIME,
      </if>
      <if test="effectStartTime != null">
        EFFECT_START_TIME,
      </if>
      <if test="effectEndTime != null">
        EFFECT_END_TIME,
      </if>
      <if test="sumInsured != null">
        SUM_INSURED,
      </if>
      <if test="feeRate != null">
        FEE_RATE,
      </if>
      <if test="premium != null">
        PREMIUM,
      </if>
      <if test="actualPremium != null">
        ACTUAL_PREMIUM,
      </if>
      <if test="applyNum != null">
        APPLY_NUM,
      </if>
      <if test="bizData != null">
        BIZ_DATA,
      </if>
      <if test="surrenderFee != null">
        SURRENDER_FEE,
      </if>
      <if test="prodType != null">
        PROD_TYPE,
      </if>
      <if test="inputdate != null">
        INPUTDATE,
      </if>
      <if test="personPhonenum != null">
        PERSON_PHONENUM,
      </if>
      <if test="dispatchflag != null">
        DISPATCHFLAG,
      </if>
      <if test="policyno != null">
        POLICYNO,
      </if>
      <if test="gatherno != null">
        GATHERNO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="outOrderId != null">
        #{outOrderId,jdbcType=VARCHAR},
      </if>
      <if test="summaryOrderId != null">
        #{summaryOrderId,jdbcType=VARCHAR},
      </if>
      <if test="prodNo != null">
        #{prodNo,jdbcType=VARCHAR},
      </if>
      <if test="outProdNo != null">
        #{outProdNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="policyType != null">
        #{policyType,jdbcType=DECIMAL},
      </if>
      <if test="insuredTime != null">
        #{insuredTime,jdbcType=VARCHAR},
      </if>
      <if test="issueTime != null">
        #{issueTime,jdbcType=VARCHAR},
      </if>
      <if test="surrenderTime != null">
        #{surrenderTime,jdbcType=VARCHAR},
      </if>
      <if test="effectStartTime != null">
        #{effectStartTime,jdbcType=VARCHAR},
      </if>
      <if test="effectEndTime != null">
        #{effectEndTime,jdbcType=VARCHAR},
      </if>
      <if test="sumInsured != null">
        #{sumInsured,jdbcType=DECIMAL},
      </if>
      <if test="feeRate != null">
        #{feeRate,jdbcType=DECIMAL},
      </if>
      <if test="premium != null">
        #{premium,jdbcType=DECIMAL},
      </if>
      <if test="actualPremium != null">
        #{actualPremium,jdbcType=DECIMAL},
      </if>
      <if test="applyNum != null">
        #{applyNum,jdbcType=DECIMAL},
      </if>
      <if test="bizData != null">
        #{bizData,jdbcType=VARCHAR},
      </if>
      <if test="surrenderFee != null">
        #{surrenderFee,jdbcType=DECIMAL},
      </if>
      <if test="prodType != null">
        #{prodType,jdbcType=VARCHAR},
      </if>
      <if test="inputdate != null">
        #{inputdate,jdbcType=DATE},
      </if>
      <if test="personPhonenum != null">
        #{personPhonenum,jdbcType=DECIMAL},
      </if>
      <if test="dispatchflag != null">
        #{dispatchflag,jdbcType=CHAR},
      </if>
      <if test="policyno != null">
        #{policyno,jdbcType=VARCHAR},
      </if>
      <if test="gatherno != null">
        #{gatherno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.epicc.ms.cpi.entity.picc_cpi.AlipayPolicyExample" resultType="java.lang.Long">
    select count(*) from PICC_CPI.ALIPAY_POLICY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PICC_CPI.ALIPAY_POLICY
    <set>
      <if test="record.orderId != null">
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.outOrderId != null">
        OUT_ORDER_ID = #{record.outOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.summaryOrderId != null">
        SUMMARY_ORDER_ID = #{record.summaryOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.prodNo != null">
        PROD_NO = #{record.prodNo,jdbcType=VARCHAR},
      </if>
      <if test="record.outProdNo != null">
        OUT_PROD_NO = #{record.outProdNo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.policyType != null">
        POLICY_TYPE = #{record.policyType,jdbcType=DECIMAL},
      </if>
      <if test="record.insuredTime != null">
        INSURED_TIME = #{record.insuredTime,jdbcType=VARCHAR},
      </if>
      <if test="record.issueTime != null">
        ISSUE_TIME = #{record.issueTime,jdbcType=VARCHAR},
      </if>
      <if test="record.surrenderTime != null">
        SURRENDER_TIME = #{record.surrenderTime,jdbcType=VARCHAR},
      </if>
      <if test="record.effectStartTime != null">
        EFFECT_START_TIME = #{record.effectStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.effectEndTime != null">
        EFFECT_END_TIME = #{record.effectEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.sumInsured != null">
        SUM_INSURED = #{record.sumInsured,jdbcType=DECIMAL},
      </if>
      <if test="record.feeRate != null">
        FEE_RATE = #{record.feeRate,jdbcType=DECIMAL},
      </if>
      <if test="record.premium != null">
        PREMIUM = #{record.premium,jdbcType=DECIMAL},
      </if>
      <if test="record.actualPremium != null">
        ACTUAL_PREMIUM = #{record.actualPremium,jdbcType=DECIMAL},
      </if>
      <if test="record.applyNum != null">
        APPLY_NUM = #{record.applyNum,jdbcType=DECIMAL},
      </if>
      <if test="record.bizData != null">
        BIZ_DATA = #{record.bizData,jdbcType=VARCHAR},
      </if>
      <if test="record.surrenderFee != null">
        SURRENDER_FEE = #{record.surrenderFee,jdbcType=DECIMAL},
      </if>
      <if test="record.prodType != null">
        PROD_TYPE = #{record.prodType,jdbcType=VARCHAR},
      </if>
      <if test="record.inputdate != null">
        INPUTDATE = #{record.inputdate,jdbcType=DATE},
      </if>
      <if test="record.personPhonenum != null">
        PERSON_PHONENUM = #{record.personPhonenum,jdbcType=DECIMAL},
      </if>
      <if test="record.dispatchflag != null">
        DISPATCHFLAG = #{record.dispatchflag,jdbcType=CHAR},
      </if>
      <if test="record.policyno != null">
        POLICYNO = #{record.policyno,jdbcType=VARCHAR},
      </if>
      <if test="record.gatherno != null">
        GATHERNO = #{record.gatherno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PICC_CPI.ALIPAY_POLICY
    set ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      OUT_ORDER_ID = #{record.outOrderId,jdbcType=VARCHAR},
      SUMMARY_ORDER_ID = #{record.summaryOrderId,jdbcType=VARCHAR},
      PROD_NO = #{record.prodNo,jdbcType=VARCHAR},
      OUT_PROD_NO = #{record.outProdNo,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      POLICY_TYPE = #{record.policyType,jdbcType=DECIMAL},
      INSURED_TIME = #{record.insuredTime,jdbcType=VARCHAR},
      ISSUE_TIME = #{record.issueTime,jdbcType=VARCHAR},
      SURRENDER_TIME = #{record.surrenderTime,jdbcType=VARCHAR},
      EFFECT_START_TIME = #{record.effectStartTime,jdbcType=VARCHAR},
      EFFECT_END_TIME = #{record.effectEndTime,jdbcType=VARCHAR},
      SUM_INSURED = #{record.sumInsured,jdbcType=DECIMAL},
      FEE_RATE = #{record.feeRate,jdbcType=DECIMAL},
      PREMIUM = #{record.premium,jdbcType=DECIMAL},
      ACTUAL_PREMIUM = #{record.actualPremium,jdbcType=DECIMAL},
      APPLY_NUM = #{record.applyNum,jdbcType=DECIMAL},
      BIZ_DATA = #{record.bizData,jdbcType=VARCHAR},
      SURRENDER_FEE = #{record.surrenderFee,jdbcType=DECIMAL},
      PROD_TYPE = #{record.prodType,jdbcType=VARCHAR},
      INPUTDATE = #{record.inputdate,jdbcType=DATE},
      PERSON_PHONENUM = #{record.personPhonenum,jdbcType=DECIMAL},
      DISPATCHFLAG = #{record.dispatchflag,jdbcType=CHAR},
      POLICYNO = #{record.policyno,jdbcType=VARCHAR},
      GATHERNO = #{record.gatherno,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>